{% if site.data.data.students%}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>{{site.data.data.students.title}}</h2>
 
  {% if site.data.data.students.intro %}
  <div class="intro">
      <p>{{ site.data.data.students.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  <div class="skillset">

    {% for student in site.data.data.students.names%}
    <div class="item">
      <h3 class="level-title">{{ student.name }} | Project:  {{ student.project }} </h3>
		- <span class="project-tagline">{{ student.project }}</span>

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
