{% if site.data.data.students%}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>{{site.data.data.students.title}}</h2>
 
  {% if site.data.data.students.intro %}
  <div class="intro">
      <p>{{ site.data.data.students.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  <div class="skillset">

    {% for student in site.data.data.students.names%}
    <div class="item">

		 {% if student.link  %}	
	      <span class="project-title"><a href="{{ student.link }}">{{ student.name }}</a> ({{ student.degree}})</span>
		 {% else %}
	      <span class="project-title">{{ student.name }} ({{ student.degree}}) </span>

		 {% endif %}
		 - <span class="project-tagline">{{ student.project}}</span>
    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
