/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    body{
        padding: 0;
        font-size: 14px;
    }
    
    .wrapper {
        border-radius: 0;
        max-width: 100%;
    }

    .sidebar-wrapper {
        position: static;
        width: 100%;
        min-height: auto;
    }
    
    .sidebar-wrapper .profile-container {
        padding: 20px;
    }
    
    .sidebar-wrapper .name {
        font-size: 24px;
    }

    .main-wrapper {
        padding: 30px 20px;
        padding-left: 20px;
    }
    
    .main-wrapper .section-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .main-wrapper .section {
        margin-bottom: 40px;
    }

    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 5px;
        font-size: 13px;
    }

    .main-wrapper .upper-row {
        margin-bottom: 0;
    }
    
    .main-wrapper .section-title .fa {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        display: inline-block;
        width: 70%;
        float: left;
        position: relative;
        top: 1px;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
