---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <a href="#main-content" class="skip-to-content">Skip to main content</a>
    <div class="wrapper" role="main">
        <aside class="sidebar-wrapper" role="complementary" aria-label="Profile sidebar">
            {% include sidebar.html %}
        </aside>
        
        <main id="main-content" class="main-wrapper" role="main" aria-label="Main content">
            {{content}}
        </main>
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

